@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-hover:0 0% 95%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-hover:240 10% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  a{
    cursor: pointer;
  }
  h1{ font-size: 2em;}
  h2{ font-size: 1.7em;}
  h3{ font-size: 1.5em;}
  h4{ font-size: 1.3em;}
}
@layer components{
  nav.MainMenu{ 
  }

  nav.MainMenu ul {
    display: flex;
    gap: 1em;
  }
  nav.MainMenu li{
    position: relative;
  }
  nav.MainMenu li>div{
    display: none;
    position: absolute;
    
    background: var(--card);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 2px 2px #ddd;


  }
  nav.MainMenu li:hover>div,
  nav.MainMenu li:active>div
  {
    display: flex;
  }

  nav.MainMenu li .subMenu {
    background-color:  hsl(var(--card));
  }
  nav.MainMenu li .subMenu .imgPlace{
    width: 200px;
  }
  nav.MainMenu li .subMenu .imgPlace img{
    height: 200px; 
    border-radius: 1em;
  }
  nav.MainMenu li  .subCats{
    display: flex;
    flex-direction: column;
  }
  nav.MainMenu li  .subCats a{ 
    padding: 2px .5em;
    margin: 2px;
    width: 7em;
    border-radius: 2px;
  }
  nav.MainMenu li  .subCats a:hover{
    background-color: hsl(var(--card-hover)); 
    
  }
  .button{
    @apply p-4 border rounded-md block;
  }
  .button:hover{
    background-color: hsl(var(--accent));
  }
  .form>input{
    @apply p-4 border rounded-md ;
  }
  .form label{
    @apply block;
  }
  .w32trpr4{
    @apply w-32 text-right pr-4 font-bold;
  }
  .ProductPage .Rating{
    display: flex;
    gap: .5em;
  }
  .ProductPage .Rating a{
    @apply w-12 h-12 rounded-md border flex;
    
    align-items: center;
    justify-content: center;
  }
  .ProductPage .smallImages{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top:2em ;
    padding-bottom:2em ;
    gap: 2em;

    &>div{
      vertical-align: middle;
      display: flex; 
      align-items: center;
      justify-content: center;
      border-radius: 1em;
      overflow: hidden;
      background: aliceblue;
      height: 100%;
      justify-content: center;
    }
    & img{
    }
  }
  .card{
    padding-top: 1.5em;
    margin-bottom: .5em;

    & h2{ font-weight: bold;
      border-bottom: 1px solid hsl(var(--accent));
      margin-bottom: 1em;
      padding: 0 0 .5em 1em;
    }
  }
  .HomePage .Categories {
    @apply grid grid-cols-5;
    & .svgPlace{
      fill: #666;
      border: 1px solid #f99;
      border-radius: .5em;
      padding: .5em;
      background: #ffe;
    }
      
      > :nth-child(1){
        border: 1px solid #d33;
        background: #fee;
      }
      > :nth-child(2){
        border: 1px solid #0fd;
        background: #efe;
      }
       :nth-child(3){
        border: 1px solid #aaaaf8;
        background: #eef;
      }
       :nth-child(4){
        border: 1px solid #ff82ff;
        background: #fef;
      }
       :nth-child(5){
        border: 1px solid #8b8b01;
        background: #ffd;
      }
    & a:hover{      
      transform: scale(1.05);
    }
  }
  .cartMenu{    
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 1em;
    margin-left:-5em ;
    & > .cartItem{
      width: 20em;
      border: 1px solid #ffdeff;
      margin-bottom: 1em;
      padding: 2px 9px;
      display: flex;
      flex-wrap: wrap;
    }
    & .name{
      text-overflow: ellipsis;
      overflow: hidden; 
      white-space: nowrap;
      width: 90%;
    }
    & .price{
      flex-grow: 1;
      color: #d66;
    }
    & .remove{
      color:#d33;
      font-size: 10px;
      :hover{
        color: #900 ;
      }
    }
    & .cartLink{
      border: 1px solid;
      width: 8em;
      text-align: center;
      padding: .2em;
    }

  }
  .CartPage{
    & .products{
      & .oneCartItem{
        display: grid;
        grid-template-columns: 3fr 3fr 1fr 1fr 1fr ; 
        & .image img{
          border-radius: .5em;
          padding: 0 2em; 
          width: 20em;
        }
        & .name{}
        & .price{
          font-size: large; 
          text-align: right;
          }
        & .price::after {
          content: "₺";
        }
        & .quantity{
          text-align: right; }
        & .quantity input{ 
            width: 5em;
            border: 1px solid hsl(var(--accent));
            
          text-align: right;
        }
        & .lineTotal{
          text-align: right;}
      }
    }
  }
  .Addresses{
    & .formPlace{
    padding:1em 2em;
    border: 1px solid #aae;
    border-radius: .5em;
    /*margin: 0 2em 2em 2em; */
    }
    & .form{
    gap: .5em;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 5fr;}
    & .oneAddress{
      border: 1px solid #aae;
      border-radius: .5em;
      margin: 1em 0;
      padding: 1em;  
      display: flex; 
      flex-direction: column;
    }
    & .oneAddress.selected {
      background-color: hsl(var(--accent)) }
    & .oneAddress .title{ font-size: 1.5em;  text-align: center;}
    & .oneAddress .city{}
    & .oneAddress .address{font-weight: bold;}
    & .oneAddress .detail{}
  }
   
}